In [2]:
import pandas as pd
import numpy as np

In [4]:
# load data
path_tweets = "data/tweets/"
path_graphs = "data/graphs/"

# tweets
tweets1 = pd.read_csv(path_tweets+"anthrocon_tweets.csv", delimiter=',')
tweets2 = pd.read_csv(path_tweets+"comiccon2017_tweets.csv", delimiter=',')
tweets3 = pd.read_csv(path_tweets+"icann2016_tweets.csv", delimiter=',')

# edges
edges1 = np.genfromtxt(path_graphs+"anthrocon_edgelist.csv", dtype=int, delimiter=',')
edges2 = np.genfromtxt(path_graphs+"comiccon2017_edgelist.csv", dtype=int, delimiter=',')
edges3 = np.genfromtxt(path_graphs+"icann2016_edgelist.csv", dtype=int, delimiter=',')

In [10]:
# tweets

print("tweets1:")
display(tweets1.describe())
print("users: ", tweets1.node_id.unique().size)
print("tweets: ", tweets1.tweet_id.unique().size)

print("\ntweets2:")
display(tweets2.describe())
print("users: ", tweets2.node_id.unique().size)
print("tweets: ", tweets2.tweet_id.unique().size)

print("\ntweets3:")
display(tweets3.describe())
print("users: ", tweets3.node_id.unique().size)
print("tweets: ", tweets3.tweet_id.unique().size)

tweets1:

           tweet_id      node_id  attendance_label
count  3.842000e+03  3842.000000       3842.000000
mean   1.025670e+18   594.361270          0.686101
std    1.517368e+16   292.637332          0.464136
min    1.014305e+18     0.000000          0.000000
25%    1.015596e+18   327.000000          0.000000
50%    1.016819e+18   643.000000          1.000000
75%    1.032741e+18   790.000000          1.000000
max    1.068394e+18  1059.000000          1.000000

users:  1060
tweets:  3842

tweets2:

           tweet_id      node_id  attendance_label
count  4.381000e+03  4381.000000       4381.000000
mean   8.952836e+17  1237.376855          0.757818
std    1.346167e+16   717.575998          0.428453
min    8.888001e+17     0.000000          0.000000
25%    8.890000e+17   593.000000          1.000000
50%    8.895079e+17  1252.000000          1.000000
75%    8.929518e+17  1858.000000          1.000000
max    1.056351e+18  2494.000000          1.000000

users:  2495
tweets:  4381

tweets3:

           tweet_id      node_id  attendance_label
count  2.550000e+03  2550.000000       2550.000000
mean   1.031794e+18   520.085882          0.301176
std    2.278375e+16   295.359141          0.458859
min    9.896981e+17     0.000000          0.000000
25%    1.011585e+18   248.000000          0.000000
50%    1.034929e+18   540.500000          0.000000
75%    1.052350e+18   781.000000          1.000000
max    1.068184e+18  1015.000000          1.000000

users:  1016
tweets:  2550

In [13]:
# edges

print("edges shapes")
print("1: ", edges1.shape)
print("2: ", edges2.shape)
print("3: ", edges3.shape)

edges shapes
1:  (15788, 2)
2:  (8203, 2)
3:  (17045, 2)